:root {
    --blue: #6580ec;
    --grey: rgb(245, 245, 250);
    --black: rgb(20, 19, 52);
    --red-light: #f4e6e9;
    --red: rgb(235, 88, 96);

    --purple: #4e4ca6 ;
    --padding-main: 5vw;

    font-family: 'Roboto', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr 4fr;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
    background-color: white;
    border-right: 2px solid rgba(128, 128, 128, 0.2) ;

    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 1vw;
    position: relative;
}

a {
    text-decoration: none;
}

.material-symbols-outlined {
    color: var(--black);
    transform: scale(1.1);
    opacity: 0.4;
}

.spacer {
    margin-bottom: 6vh;
}

.sidebar-item-text {
    font-size: max(.8rem, 1.15vw);
    color: var(--black);
    font-weight: 400;
    opacity: .4;
}

.sidebar-item-container {
    display: flex;
    align-items: center;
    gap: 2.5vw;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 78;
}

.dashboard-logo {
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 48;
    opacity: 1;
    color: var(--blue);
    transform: scale(1.2);
}

.material-symbols-outlined.home {
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
    color: var(--blue);
}

.sidebar-item-container.home {
    position: relative;
}

.selector {
    position: absolute;
    height: 24px;
    width: 3px;
    background: var(--blue);
    border-radius: 20%;
    overflow: visible;
    top: 0px;
    right: -2.1vw;
}

.dashboard-text {
    font-weight: 500;
    font-size: max(.9rem, 1.3vw);
    opacity: 1;
}

.home {
    opacity: 1;
    font-weight: 400;
    color: var(--black);
}

/**********************     HEADER      ******************************/

.header {
    background: var(--grey);
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 50px 2fr;
    gap: 2vw;
}

.search {
    grid-template-rows: 1;
    font-size: max(.8rem, 1.15vw);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 5vw;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.container-search,
.container-logout {
    display: flex;
    align-items: center;
    gap: 2vw;
}

input {
    border: none;
    border-radius: 20px;
    background-color: var(--blue);
    opacity: 0.8;
    width: 28vw;
    height: 16px;
    padding: 3px;
    color: aliceblue;
}

.bell-icon,
.search-icon {
    color: var(--black);
    opacity: .85;
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw var(--padding-main);
}

.welcome {
    background: var(--red-light);
    height: 13vw;
    flex: 1;
    border-radius: 2vw;
    padding: 0vw 3vw;
    gap: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.welcome-illustration {
    width: 25vw;
    position: absolute;
    right: 5vw;
    bottom: .5vw;
}

.welcome-container > * {
    font-size: max(.8rem, 1.15vw);
}

.welcome-heading {
    color: var(--red);
    font-weight: 600;
    margin-bottom: 2vw;
    font-size: min(2rem, 3vw);
}

.welcome-text {
    font-weight: 400;
    font-size: min(1rem, 1.5vw);
    opacity: .8;
    line-height: 2.3vw;
}



/**********************     MAIN      ******************************/

.main {
    background: var(--grey);
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0vw var(--padding-main);
}

h1 {
    font-size: min(1rem, 1.5vw);
}

.projects {
    border: 1px solid rgb(130, 100, 100);

    grid-row: 1 / -1;
    grid-column: 1 / 2;
    gap: 10px;
}
.announcements {
    border: 1px solid rgb(140, 140, 205);
}

.trending {
    border: 1px solid orange;
}


