:root {
    --blue: #6580ec;
    --grey: #f5f5fa;
    --black: rgb(20, 19, 52);
    --red-light: #f4e6e9;
    --red: rgb(235, 88, 96);

    --purple: #4e4ca6 ;
    --padding-main: 5vw;

    font-family: 'Roboto', sans-serif;
    
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--grey);
}

body {
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
    background-color: white;
    border-right: 2px solid rgba(128, 128, 128, 0.2) ;

    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 1vw;
    position: relative;
}

a {
    text-decoration: none;
}

.material-symbols-outlined {
    color: var(--black);
    transform: scale(1.1);
    opacity: 0.4;
}

.spacer {
    margin-bottom: 6vh;
}

.sidebar-item-text {
    font-size: max(.8rem, 1.15vw);
    color: var(--black);
    font-weight: 400;
    opacity: .4;
}

.sidebar-item-container {
    display: flex;
    align-items: center;
    gap: 2.5vw;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 78;
}

.dashboard-logo {
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 48;
    opacity: 1;
    color: var(--blue);
    transform: scale(1.2);
}

.material-symbols-outlined.home {
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
    color: var(--blue);
}

.sidebar-item-container.home {
    position: relative;
}

.selector {
    position: absolute;
    height: 24px;
    width: 3px;
    background: var(--blue);
    border-radius: 20%;
    overflow: visible;
    top: 0px;
    right: -2.1vw;
}

.dashboard-text {
    font-weight: 500;
    font-size: max(.9rem, 1.3vw);
    opacity: 1;
}

.home {
    opacity: 1;
    font-weight: 400;
    color: var(--black);
}

/**********************     HEADER      ******************************/

.header {
    background: var(--grey);
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 5vw 1fr;
    grid-template-columns: 1fr 3fr;
    margin: 0px 5vw;

    gap: 15px 2rem;
}

.header-low {
    display: flex;

}

.search {
    grid-column: 1 / -1;

    grid-template-rows: 1;
    font-size: max(.8rem, 1.15vw);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.container-search,
.container-logout {
    display: flex;
    align-items: center;
    gap: 2vw;
}

input {
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    width: 28vw;
    height: 16px;
    padding: 3px 2vw;
    color: var(--black);
    font-size: 10px;
}



.bell-icon,
.search-icon {
    color: var(--black);
    opacity: .85;
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.welcome {
    background: var(--red-light);
    height: 5vw;
    flex: 1;
    border-radius: 2vw;
    padding: 2.5vw 3vw;
    gap: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.welcome.left {
    overflow: hidden;
}

.welcome-container.left {
    flex: 0;
}

.welcome-container.right {
    flex: 1;
}

.welcome-illustration,
.getpro-illustration {
    width: 16.9vw;
    position: absolute;
    right: 2vw;
    bottom: .7vw;
}

.getpro-illustration {
    width: 13vw;
    left: -25px;
    bottom: 5px;
    rotate: 10deg;

}

.getpro-heading {
    position: absolute;
    right: 1.1vw;
    top: 2.6vw;

    color: var(--grey);
    font-weight: 600;
    font-size: max(2.1vw, 1rem);

}

.upgrade {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    border-radius: 2vw;

    color: var(--black);
    border: none;
    width: 12vw;
    height: 2vw;
    background: var(--grey);
    font-size: max(.8rem, 1.15vw);
    padding: 1.3vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141e47;
    opacity: .8;
}

.welcome-heading {
    color: var(--red);
    font-weight: 600;
    font-size: max(2.1vw, 1rem);
}

.welcome-heading.left {
    color: white;
}

.welcome-text {
    font-weight: 300;
    font-size: max(1vw, .5rem);
    opacity: .8;
}

.welcome-text-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.welcome-text-container.right {
    margin-right: 18vw;
    white-space: nowrap;
}

.welcome.left {
    background: #6580ec;
}



/**********************     MAIN      ******************************/

.main {
    background: var(--grey);
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto auto;
    padding: 10px var(--padding-main);
    gap: 2vw;
}

h1 {
    font-size: min(1rem, 1.5vw);
}

.projects {

    grid-row: 1 / -1;
    grid-column: 1 / 2;
    gap: 10px;
}

.projects-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem
}

.project {
    background: white;
    flex: 1;
    border-radius: .8vw;
    padding: 1vw 2vw;
    gap: .5vw;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    position: relative;
    overflow: hidden;
}

.stripe {
    height: 100%;
    width: .5vw;
    background: rgb(27, 86, 164);

    position: absolute;
    left: 0px;

}

.project-text {
    grid-row: 2 ;
    grid-column: 1 / -1;

    font-weight: 300;
    font-size: max(.8vw, .5rem);
    opacity: .8;
    height: 6vw;
}

.project-heading {
    grid-row: 1;
    grid-column: 1 / -1;


    font-weight: 900;
    font-size: 1.2vw;
    opacity: .8;
    color: var(--black);
    white-space: nowrap;
}

.icons {
    grid-row: 3 ;
    grid-column: 2 / -1;

    align-self: flex-end;
}

.icon {
    height: max(.5vw, 1rem);
    opacity: .76;
}

.announcements,
.trending {
    display: flex;
    flex-direction: column;
}

.announcements-container,
.trending-container {
    background: white;
    flex-grow: 1;

    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: .8vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;    


    padding: 1vw 2vw;

}

h1 {
    margin-left: 1.6vw;
}

.announ {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

}

.line {
    position: absolute;
    top: 30%;
    height: 8vw;
    width: 80%;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.announ.m {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.announ.m,
.announ.l {

    padding-top: 1vw;
}

.trending {

}

.announ-heading{
    font-weight: 700;
    font-size: 1.1vw;
    opacity: .8;
    color: var(--black);
}

.announ-text{
    font-weight: 300;
    font-size: max(.8vw, .5rem);
    opacity: .8;
    height: 6vw;
}